@import "tailwindcss";
@theme {
  --color-main: #1abc9c;
  --color-sec: #2c3e50;
  --color-tertiary: #172129;
}
@layer base {
  input{
    @apply   w-full border border-gray-300 rounded px-3 pt-6 pb-2 focus:outline-none focus:ring-2 focus:ring-main focus:border-main
  }
  label{
    @apply absolute left-3 top-2 text-gray-500 text-sm transition-all 
  }
}
@layer utilities {
  .btn {
    @apply py-2 px-4 rounded-lg;
  }
  .btn-outline-light {
    border: 1px solid var(--color-gray-300);
  }
  .bg-opacity-70{
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.customActive {
  background-color: var(--main-color);
}

.homeImg {
  width: 250px !important;
  height: 250px !important;
}
.imgOverlay {
  width: 400px !important;
  height: 400px !important;
}
